<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheets" href="/css/home.css">
  <title>newtype-zeon</title>
</head>

<body>
  <h1 class="main-header">Welcome to newtype-zeon</h1>
  <h2>Big things comming soon, or maybe just big to me :P</h2>
  <!--set up lower text as a link to a manifesto page-->
  <p>Nudging the bounds of perfection</p>

  <ul>
    <li>know why you do what you do</li>
    <li>never miss a chance for understanding</li>
    <li>commit one hundred percent</li>
    <li>always find yourself in others</li>
  </ul>
</body>

</html>
